.git/
target/
node_modules/
.venv/
*.pyc
__pycache__/
.pytest_cache/
dist/
python/
tests/
benchmarks/
.github/
assets/
blog/
bump-all/
cargo-bump/
cargo-bumper-action/
duckduckgo/
*.md
!README.md
!RUST.md
!WASM.md
